<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" style="padding:30px">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#" routerLink="/home">Home</a></li>
      <li class="breadcrumb-item"><a href="#" routerLink="/home">Products</a></li>
      <li class="breadcrumb-item active" aria-current="page">Details</li>
    </ol>
  </nav>

<!-- <div class="card mb-3" STYLE="PADDING:24px">
    <img src="../assets/bmw.jpeg" class="card-img-top" alt="...">
    
    <div class="card-body">
      <h1 class="card-title">2023 BMW M340I XDrive LCI</h1>
      <h4 style="color: lawngreen">R1 400 000</h4>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      <a href="#" routerLink="/productDetails" class="btn btn-primary">Add to cart</a>

    </div>
  </div> -->
  <div class="card mb-3" style="padding:24px">
    
  
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../assets/bmw.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>Starting from R1 600 000</h5>
          <p>The eight-speed automatic transmission controlled by this shifter remains the excellent ZF 8HP, enhanced by the 48-volt hybrid system that's spreading through the BMW lineup.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/BMW2.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>10L/100km</h5>
          <p>In normal driving, this M340i feels very quick and effortlessly muscular.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../assets/BMW3.jpeg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5>2023 BMW M340i xDrive</h5>
          <p>Vehicle Type: front-engine, all-wheel-drive, 5-passenger, 4-door sedan</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
 

    <div class="card-body">
        <h1 class="card-title">2023 BMW M340I XDrive LCI</h1>
        <h4 style="color: lawngreen">R1 400 000</h4>
          <p class="card-text">
            The new BMW 3 Series Sedan offers outstanding driving dynamics and comprehensive, technologically modern support for the driver in the new sporty design.  
 

            M Sport suspension with stiffer spring and damper design for direct and agile driving characteristics
            The Reversing Assistant and other intelligent driver assistance systems for optimal ride comfort in every situation
            Driver-oriented cockpit and innovative BMW Curved Display with touch-based operating concept
          </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <a href="#" routerLink="/productDetails" class="btn btn-primary">Add to cart</a>
  
      </div>

</div>
</div>
 