<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" style="padding:35px">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#" routerLink="/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Products</li>
  </ol>
</nav>

<div class="row row-cols-1 row-cols-md-4 g-4" style="padding: 13px; padding-bottom: 35px;">
  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/bmw.jpeg" class="card-img-top" alt="..." style="width:286px;height:160px" />
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" routerLink="/productDetails" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/BMW2.webp" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2019 BMW M340I</h5>
        <P style="color: lawngreen">R840 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/BMW3.jpeg" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2019 BMW 330I</h5>
        <P style="color: lawngreen">R600 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/car5.webp" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2022 AUDI RS5</h5>
        <P style="color: lawngreen">R1 000 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/car6.webp" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/car8.webp" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/car7.webp" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/bmw.jpeg" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/bmw.jpeg" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/bmw.jpeg" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/bmw.jpeg" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card" style="width: 18rem">
      <img src="../assets/bmw.jpeg" class="card-img-top" alt="..." style="width:286px;height:160px"/>
      <div class="card-body">
        <h5 class="card-title">2023 BMW M340I</h5>
        <P style="color: lawngreen">R1 400 000</P>
        <p class="card-text">
          BMW India has introduced the new and updated M340i at South Africa.
          First-ever music and driving festival
        </p>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
  </div>
</div>
